<html>
<head>
<style type="text/css"> 
ul
{ 
overflow-x:hidden;
white-space:nowrap; 
height: 1em;
width: 100%;
} 

li
{ 
display:inline; 
}       
</style>
</head>
<body>
 <table class="table table-bordered">
  <thead>
    <tr>
      <th>Number</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.MessageID }}</td>
        <td>{{ user.Message}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if users.has_other_pages %}
  <ul  class="pages">
    {% if users.has_previous %}
    {% comment %} <a href="{% url 'email_list/' %}?page=foobar"> {% endcomment %}
      <li><a href="{% url 'email_list/' %}?page={{ users.previous_page_number }}" class="btn">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li>{{ i }}</li>
      {% else %}
        <li class="btn"><a <a href="{% url 'email_list/' %}?page={{ i }}" class="btn">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %} 

</body>
</html>